@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

* {
  font-family: "Noto Sans", sans-serif;
}
body {
  background-image: url("/img/back.png");
  background-attachment: fixed;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 18em;
}

.button {
  border: none;
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  cursor: pointer;

  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.button:hover {
  background: #2ee59d;
  box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
  color: white;
  transform: translateY(-1px);
}

.button a {
  display: block;
  font-family: inherit;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 13px;
}

.button-div {
  margin-right: 2em;
}
