@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

* {
  font-family: "Noto Sans", sans-serif;
}
body {
  background-image: url("../img/back.png");
  background-attachment: fixed;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.string-of-data {
  margin-top: 1.5em;
  padding-top: 0.2em;
}

.string-of-data input {
  /* height: 18px; */
  margin-top: 0.2em;
  border-radius: 2px;
  font-size: 25px;

  background: transparent;
}

.string-of-data input:focus {
  /* color: #212529; */

  outline-color: #2ee59d;
}

.button-wrapper {
  margin-top: 2em;
}

.button {
  border: none;
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  cursor: pointer;
  font-family: inherit;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 11px;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.button:hover {
  background: #2ee59d;
  box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
  color: white;
  transform: translateY(-1px);
}
