@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

* {
  font-family: "Noto Sans", sans-serif;
}
body {
  background-image: url("../img/back.png");
  background-attachment: fixed;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 25px;
}

td {
  padding: 5px;
}

th {
  padding: 5px;
}

tbody tr {
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: #f8f8f8;
}

tbody tr:nth-child(even) {
  background-color: #d1d1d1;
}

table {
  background-color: #000000;
}

.button {
  border: none;
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  cursor: pointer;
  margin-top: 2em;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.button:hover {
  background: #2ee59d;
  box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
  color: white;
  transform: translateY(-1px);
}

.button a {
  display: block;
  font-family: inherit;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 13px;
}
